<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">  
  <title> User List </title>
</head>
<body>
  <h1 class="heading">User List</h1>
  <ul>
    <% users.forEach((user) => { %>
      <li class="list">
        <strong>Name:</strong> <%= user.fullName %><br>
        <strong>State of Origin:</strong> <%= user.stateOfOrigin %><br>
        <strong>Date of Birth:</strong> <%= user.dateOfBirth.toDateString() %><br>
        <strong>Age:</strong> <%= user.age %><br>
        <strong>Gender:</strong> <%= user.gender %><br>
        <a href="/users/<%= user._id %>/delete">Delete</a>
        <a href="/users/<%= user._id %>/update">Update User</a>
        <hr>
      </li>
    <% }) %>
  </ul>
  <a href="/users/deleteAll">Delete All Users</a>
  <!-- <a href="/users/update">Update User</a> -->
</body>
</html>
